@font-face {
  font-family: 'Roboto Slab';
  src: url('./assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Slab';
}

:root {
  --white-color: white;
  --orange-color: rgba(255, 202, 65, 1);
  --gray-color: rgba(51, 51, 51, 0.5);
  --black-color: rgba(51, 51, 51, 1);
  --font-size-h2: 1.875rem;
  --font-size-h1-h2-gross: 3.25rem;
  --font-size-link-home: 1.875rem;
  --font-size-h3: 1.125rem;
  --font-size-text: 0.95rem;
  --font-weight-700: 700;
  --font-weight-500: 500;
  --font-weight-900: 900;
}

body {
  margin: 2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: var(--font-size-h1-h2-gross);
  font-weight: var(--font-weight-900);
  color: var(--orange-color);
  text-shadow: var(--black-color) 1px 0 10px;
  text-align: center;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-500);
  color: var(--black-color);
}

.h2Gross {
  font-size: var(--font-size-h1-h2-gross);
  font-weight: var(--font-weight-500);
  color: var(--black-color);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-900);
  color: var(--orange-color);
}

p {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-500);
}

.pGray {
  color: var(--gray-color);
}

.pBlack {
  color: var(--black-color);
}

.pMargin {
  margin: 1rem 0;
}

/* Beer Tap App Home */

.allbeers, .randombeer {
  display: flex;
  flex-direction: column;
}

.allbeersLink, .randombeerLink {
  color: var(--white-color);
  font-size: var(--font-size-link-home);
  background-color: var(--orange-color);
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
}

/* All Beers Unterseite */

.allbeersSite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.allbeersCard {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.allbeersImg {
  width: fit-content;
  height: 12rem;
  justify-self: center;
}

.allbeersButton {
  background-color: var(--orange-color);
  padding: 0.2rem 0.7rem;
  border-radius: 10px;
  color: var(--white-color);
}

.allbeersCenter {
  display: flex;
  justify-content: center;
}

.allbeersCenter img {
  align-self: center;
}

/* Detailseite und Randomseite*/

.beerdetailsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.beerdetailsCard img {
  height: 30rem;
  width: fit-content;
  align-self: center;
}

.beerdetailsDiv {
  width: 90%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
}

.beerdetailsNumberDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.beerdetailsLink {
  margin-bottom: 1rem;
}

.randombeerImg {
  width: 5rem;
  height: fit-content;
}